.main .search-modal {
    padding: 0;
    min-height: auto;
    border-radius: 10px;
    background-color: #fafafa;
}

.search-input {
    width: 100%;
}

.search-results {
    width: 100%;
    color: var(--text-color);
}

.search-results-list {
    padding: 8px 12px 16px;
}

.search-count {
    color: var(--grey-color);
    padding: 16px 24px 0;
}

.search-item {
    transition: background-color .2s ease-in-out;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: var(--background-color);
    }
}

.search-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
}
