.main .search-modal {
    padding: 0;
    min-height: auto;
    max-height: 800px;
    min-width: 800px;
    overflow: scroll;
    border-radius: var(--border-radius);
    background-color: var(--modal-background-color);
}

.search-input {
    width: 100%;
}

.search-results {
    width: 100%;
    color: var(--text-color);
}

.search-results-list {
    padding: 8px 12px 12px;
}

.search-count {
    padding: 24px 24px 0;
    font-size: 18px;
}

.search-item {
    transition: background-color .2s ease-in-out;
    padding: 12px;
    border-radius: var(--border-radius);
    cursor: pointer;

    &:hover {
        background-color: var(--accent-color);
    }
}

.search-title {
    margin-bottom: 8px;
    font-weight: 700;
}

.search-keyword {
    font-weight: 700;
    color: var(--primary-color);
}

.search-see-more {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 24px;
    cursor: pointer;

    span {
        margin-right: 4px;
        transition: all .2s ease-in-out;
    }

    &:hover span {
        margin-right: 8px;
    }
}