:root {
    /* #COLOR-SCHEME */
    --primary-color: #28193C;
    --background-color: #392755;
    --accent-color: #BE74FF;
    --white-color: #fff;
    --text-color: var(--white-color);
    --link-color: var(--accent-color);
    --primary-lighten-color: #463062;
    --grey-color: #a3a3a3;
    --modal-background-color: #4A40E7;

    /* #TYPOGRAPHY */
    --font-family: "Poppins", sans-serif;
    
    /* #MISC */
    --border-radius: 15px;
}
