:root {
    /* #COLOR-SCHEME */
    --primary-color: #292929;
    --background-color: #f2f0e0;
    --accent-color: #F3A475;
    --white-color: #fff;
    --text-color: var(--primary-color);
    --link-color: var(--accent-color);
    --primary-lighten-color: #5e5e5e;

}
