.logo {
    padding: 24px;
    padding-top: 40px;
    padding-bottom: 24px;
}
.logo-text {
    color: var(--primary-text-color);
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 3;
    border-bottom: 4px solid var(--primary-color);
    cursor: pointer;
}
.sider {
    padding: 24px;
    border-right: 1px solid var(--border-color);
    min-height: 100vh;

    .ant-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
.menu-item {
    background-color: var(--background-color);
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;

    [role=img] {
        margin-right: 10px;
    }

    &.ant-menu-item-selected {
        color: var(--primary-color);
    }
}

