.sidebar {
    padding-top: 36px;
    flex: 0 0 350px;
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 100%;
}

.title-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}

.page-title {
    margin-right: 10px;
    border-bottom: none;
    
    h1 {
        font-size: 24px;
        margin: 0;
    }
}

.search-trigger {
    color: var(--accent-color);
    margin-top: 10px;
    cursor: pointer;
}