.input-wrapper {
  border-bottom: 1px solid var(--white-color);
  
}

.input {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.input-icon {
  margin-top: 3px;
}

input {
  padding: 14px 20px;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
  
  background: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--text-color);
  }
}