body {
  height: 100%;
  background-color: var(--primary-color);
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 700;
    border-bottom: 2px solid var(--link-color);;
  }

  li {
    list-style: none;
    padding: 0;
  }
}
